# Environnements virtuels
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# MLflow

# Jupyter Notebooks
.ipynb_checkpoints/

# Fichiers de données (ne pas commit les grosses données ou données sensibles)
data/raw/
data/interim/
data/processed/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Fichiers locaux
.env
